* {
	width: 100%;
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Heavy.ttf");
}

@font-face {
    font-family: "proximaBold";
    src: url("fonts/proxima-nova-bold.otf");
}

@font-face {
    font-family: "MuseoSans";
    src: url("fonts/museosans.otf");
    font-size: 12px;
}

@font-face {
    font-family: "proximaSemiBold";
    src: url("fonts/proxima-nova-semibold.otf");
}
nav {
	width: 940px;
    margin: 0 auto;
    height: 80px;
}
ul {
    list-style: none;
}
h2 {
    font-family: "Avenir";
    font-size: 44px;
}
p {
	font-size: 20px;
}
#header {
	width: 100%;
    height: 80px;
	background-color: #fff;
	position: fixed;
	z-index: 101;
}
.nav-header {
	width: 100%;
    justify-content: space-between;
	color: #82868f;
	text-decoration: none;
    font-family: "MuseoSans";
    font-weight: 700;
    font-size: 14px;
	display: inline-flex;
	letter-spacing: 0.2px;
}
.nav-logo {
	font-size: 30px;
	color: #82868f;
}
.nav-nav {
	color: #82868f;
	display: inline-flex;
	text-decoration: none;
}
.nav-button {
	background: none;
	border: 0;
	text-decoration: none !important;
	margin-left: 20px;
    width: 130px;
    height: 45px;
	cursor: pointer;
}
.nav-button:hover {
	background-color: #0ebfdd;
    border-radius: 30px;
    color: #fff;
}
#mission{
	background-image: url(img/mountains.png);
	height: 600px;
	color: white;
	text-align: center;
    line-height: 28px;
    padding: 400px 80px 80px;
    box-sizing: border-box;
	position: relative;
	top: 80px;
}
#mission h2 {
	margin-bottom: 30px;
}
#about {
	height: 250px;
    color: #45494d;
	text-align: center;
    line-height: 28px;
    padding: 0 80px;
    box-sizing: border-box;
	position: relative;
	top: 80px;
	padding-top: 70px;
}
#about h2 {
	margin-bottom: 30px;
	color: #0ebfdd;
}
#team {
	height: 490px;
	background-color: #0ebfdd;
    color: #fff;
	text-align: center;
    line-height: 28px;
    font-size: 18px;
	position: relative;
	top: 80px;
	padding-top: 55px;
}
#team h2 {
	margin-bottom: 70px;
}
.team-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 105px;
}
.team-list li {
	margin-left: 45px;
	margin-right: 45px;
}
.team-div {
	width: 700px;
	margin: 0 auto;
}
.button-work {
	border: 1px solid #fff;
	text-decoration: none !important;
	margin-left: 20px;
    width: 180px;
    height: 40px;
	background-color: #0ebfdd;
    border-radius: 30px;
    color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}