* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Heavy.ttf");
}

@font-face {
    font-family: "proximaBold";
    src: url("fonts/proxima-nova-bold.otf");
}

@font-face {
    font-family: "MuseoSans";
    src: url("fonts/museosans.otf");
    font-size: 12px;
}

@font-face {
    font-family: "proximaSemiBold";
    src: url("fonts/proxima-nova-semibold.otf");
}
nav {
	width: 940px;
    margin: 0 auto;
    height: 80px;
}
ul {
    list-style: none;
}
h2 {
    font-family: "Avenir";
    font-size: 44px;
}
h2 span {
	font-size: 15px;
	vertical-align: top;
}
p {
	font-size: 20px;
}
#header {
	width: 100%;
    height: 80px;
	background-color: #fff;
	position: fixed;
	z-index: 101;
}
.nav-header {
	width: 100%;
    justify-content: space-between;
	color: #82868f;
    font-family: "MuseoSans";
    font-weight: 700;
    font-size: 14px;
	display: inline-flex;
	align-items: center;
	letter-spacing: 0.2px;
}
.nav-logo {
	font-size: 30px;
	color: #82868f;
}
.nav-nav {
	color: #82868f;
	display: inline-flex;
	text-decoration: none;
	align-items: center;
}
.nav-nav li {
	margin: 0 10px;
}
.nav-button {
	background: none;
	border: 0;
	margin-left: 20px;
    width: 130px;
    height: 45px;
	cursor: pointer;
	outline: none;
	user-select: none;
	font-family: "MuseoSans";
    font-weight: 700;
}
.nav-button:hover {
	background-color: #0ebfdd;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}
nav li {
	margin-top: 20px;
}
nav a {
	text-decoration: none;
	color: #82868f;
    font-family: "MuseoSans";
}
.nav-a:hover {
	text-decoration: underline;
}
#mission{
	background-image: url(img/mountains.png);
	height: 600px;
	color: white;
	text-align: center;
    line-height: 28px;
    padding: 400px 80px 80px;
    box-sizing: border-box;
	position: relative;
	top: 80px;
}
#mission h2 {
	margin-bottom: 30px;
}
#about {
	height: 250px;
    color: #45494d;
	text-align: center;
    line-height: 28px;
    padding: 0 80px;
    box-sizing: border-box;
	position: relative;
	top: 80px;
	padding-top: 70px;
}
#about h2 {
	margin-bottom: 30px;
	color: #0ebfdd;
}
#team {
	height: 490px;
	background-color: #0ebfdd;
    color: #fff;
	text-align: center;
    line-height: 28px;
    font-size: 18px;
	position: relative;
	top: 80px;
	padding-top: 55px;
}
#team h2 {
	margin-bottom: 70px;
}
.team-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 105px;
}
.team-list li {
	margin-left: 45px;
	margin-right: 45px;
}
.team-div {
	width: 700px;
	margin: 0 auto;
}
.button-work {
	border: 1px solid #fff;
	text-decoration: none;
	margin-left: 20px;
    width: 180px;
    height: 40px;
	background-color: #0ebfdd;
    border-radius: 30px;
    color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	user-select: none;
}
footer {
	height: 90px;
	background-color: #45494d;
	font-size: 18px;
	padding: 50px 100px 30px 100px;
}
.footer-list1 {
	width: 100%;
	height: 50px;
	justify-content: space-between;
}
.footer-list1 a {
	color: #fff;
	text-decoration: none;
	font-family: 'MuseoSans';
}
.footer-faq a {
	margin: 0 20px;
}
.footer-social a {
	margin: 0 7px;
}
.footer-social i {
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 10px 12px;
}
.footer-social li:nth-child(2) i {
	padding: 10px 15px;
}
.footer-list1, .footer-faq, .footer-social, .footer-list2 {
	display: inline-flex;
}
.footer-list2 {
	width: 100%;
	height: 40px;
	justify-content: flex-end;
	border-top: 1px solid #5a5e62;
    color: #73767a;
    align-items: center;
    font-family: "MuseoSans";
    padding-right: 40px;
    box-sizing: border-box;
}
.footer-list2 li {
    padding: 0 11px;
    border-right: 1px solid #73767a;
}
.footer-list2 li:last-child {
    border: none;
}
/*footer {
    background-color: #45494d;
    font-size: 18px;
    padding-left: 80px;
}
.footer-list1 {
	width: 100%;
    margin: 35px 0 20px;
}
.footer-list1, .footer-contact, .footer-social {
    display: inline-flex;
}
.footer-social li {
    margin-left: 9px;
}
.footer-social li a {
    text-decoration: none;
    color: #fff;
}
.footer-social i {
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer-social li:nth-child(2) i {
    padding: 12px 15px;
}
.footer-faq li {
    margin-right: 35px;
    justify-content: flex-start;
}
.footer-faq li a {
    font-family: 'MuseoSans';
    text-decoration: none;
    color: #fff;
}
.footer-list2 {
    width: 100%;
    height: 42px;
    border-top: 1px solid #5a5e62;
    color: #73767a;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "MuseoSans";
    padding-right: 40px;
    box-sizing: border-box;
}
.footer-list2 li {
    padding: 0 11px;
    border-right: 1px solid #73767a;
    line-height: 12px;
}
.footer-list2 li:last-child {
    border: none;
}*/